@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";
@import "_partials/common.scss";
@import "_partials/components.scss";
@import "_partials/typography.scss";
@import "_partials/utilities.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";


h1 {
    font-size: 80px;
}

.all-comics {

    .pic-container {
        width: 100%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}


.single-comic {

    .pic-container {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

}

.comic-uploader {

    .input-group-text {
        width: 10%;
    }
}



.tools {
    flex-grow: 1;

    .col-6 {
        margin-top: auto;
    }
}